@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Besley", serif;
}

body {
	padding: 50px;
	color: #281b2d;
}

main {
	margin: 50px auto;
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}
h2 {
	margin-bottom: 20px;
}

p {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

button {
	padding: 10px 15px;
	border: 2px solid;
	background: #fff;
	cursor: pointer;
}
button:hover {
	color: #fff;
	background: #281b2d;
}

footer {
	margin-top: 150px;
}
footer p {
	font-size: 0.75rem;
	line-height: 1.5;
}
